h1 {
    text-shadow: 1px 1px 2px #aaa;
}

article {
    padding: 10px;
    border: 3px black solid;
    margin: 10px 0;
    max-width: 500px;
}

#section-recipes {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#section-recipes p:first-of-type {
    padding-left: 10px;

}

.success {
    background-color: green;
    padding: 10px;
    border-radius: 3px;
}